{% extends "base.html" %}

{% block content %}
    <h1 class="mt-4">Add Teacher</h1>    
    <h4>You will be able to add students after creating a teacher</h4>
    <hr />
    <form name="add-teacher" method="post" action="{% url 'class:add-teacher' %}">
        {% csrf_token %}
        <div class="row">
            {% for field in form %}
                <div class="col-md-4">
                    Please enter the {{field.label}} : {{field}}
                </div>
            {% endfor %}
                <div class="col-md-4">
                    <input type="submit" value="Add Teacher" class="btn btn-success" />
                </div>
        </div>        
    </form>
{% endblock content %}